<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.thomaskuenneth.android.birthday" 
	android:versionCode="42" 
	android:versionName="2.0.0">
		
    <supports-screens
          android:smallScreens="true"
	/>
  
	<application android:icon="@drawable/birthdaycake_48"
		android:label="@string/app_name" 
		android:debuggable="true">
		
		<activity android:name="TKBirthdayReminder">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="NotificationView" />
		<activity android:name="PreferencesActivity" />
		
		<activity android:name="BirthdayNotSetActivity" 
			android:label="@string/app_name_2"/>
			
		<receiver android:enabled="true" android:name="AlarmReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ALARM_SERVICE" />
			</intent-filter>
		</receiver>
		
		<receiver android:enabled="true" android:name="BootCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

        <!-- Broadcast Receiver that will process BirthdayWidget updates -->
        <receiver android:name=".BirthdayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/birthdaywidget_info" />
        </receiver>
        		
	</application>

	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-sdk android:minSdkVersion="7"
		android:targetSdkVersion="7">
	</uses-sdk>

</manifest> 